/* font-family: "MyriadProCondRegular"; */
@font-face {
    font-family: "MyriadProCondRegular";
    src: url("../fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
    src: url("../fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
    url("../fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProCondBold"; */
@font-face {
    font-family: "MyriadProCondBold";
    src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot");
    src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondBold/MyriadProCondBold.woff") format("woff"),
    url("../fonts/MyriadProCondBold/MyriadProCondBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProCondItalic"; */
@font-face {
    font-family: "MyriadProCondItalic";
    src: url("../fonts/MyriadProCondItalic/MyriadProCondItalic.eot");
    src: url("../fonts/MyriadProCondItalic/MyriadProCondItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondItalic/MyriadProCondItalic.woff") format("woff"),
    url("../fonts/MyriadProCondItalic/MyriadProCondItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProCondBoldItalic"; */
@font-face {
    font-family: "MyriadProCondBoldItalic";
    src: url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot");
    src: url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProCondBoldItalic/MyriadProCondBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

